Repository cloudposse-terraform-components/aws-datadog-lambda-forwarder, pull requests merged in 2025-06, with the labels that each got.

#25 Enable merge queue
  .github/CODEOWNERS
  .github/settings.yml
Labels: auto-update, no-release, migration

#27 Enable merge queue
  .github/settings.yml
Labels: auto-update, no-release, migration

#16 fix: adjust deprecated lookup function
  src/main.tf
  src/provider-datadog.tf
Labels: patch, needs-test

#36 Remove tags prefix
  src/providers.tf
Labels: needs-test
